<%- include('partials/header.ejs'); %>
<ul class="resultado"></ul>
    <!-- DataTales Example -->
    <div class="card shadow mb-8">
      <div class="card-header py-3 bg-white">
        <h5 class="m-0 font-weight-bold text-dark">Lista de Pacientes</h5>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table
            class="table table-bordered"
            id="dataTable"
            width="100%"
            cellspacing="0"
          >
            <thead>
              <tr>
                <th>Nome</th>
                <th>Ações</th>
              </tr>
            </thead>
            <tbody>
              <% pacientes.forEach(function(paciente) { %>
              <tr>
                <td><%= paciente.nome %></td>
                <td>
                  <a
                    data-nome="<%= paciente.nome %>"
                    data-bairro="<%= paciente.bairro %>"
                    data-cpf="<%= paciente.cpf %>"
                    data-endereco="<%= paciente.endereco %>"
                    data-nascimento="<%= paciente.nascimento %>"
                    data-fone="<%= paciente.telefone %>"
                    class="material-icons md-24 md-dark"
                    href="#"
                    data-toggle="modal"
                    href=""
                    data-target="#dadosPacienteModal"
                    >list_alt</a
                  >

                  <a
                    data-nome="<%= paciente.nome %>"
                    data-id="<%= paciente._id %>"
                    data-cpf="<%= paciente.cpf %>"
                    data-endereco="<%= paciente.endereco %>"
                    data-nascimento="<%= paciente.nascimento %>"
                    data-fone="<%= paciente.telefone %>"
                    data-bairro="<%= paciente.bairro %>"
                    class="material-icons md-24 md-dark"
                    data-toggle="modal"
                    data-target="#editPacienteModal"
                    href=""
                    >edit</a
                  >
                  <a
                    class="material-icons md-24 md-dark"
                    href="/viagens/?id=<%=paciente._id %> "
                    >commute</a
                  >
                  <a
                    class="material-icons md-24 md-dark"
                    href=""
                    data-toggle="modal"
                    data-target="#suspeitoModal"
                    data-id="<%= paciente._id %>"
                    data-suspeito="true"
                    data-token="<%= token %>"
                    >group_add</a
                  >
                  <a
                    class="material-icons md-24 md-dark"
                    data-id="<%= paciente._id %>"
                    data-target="#quarentenaModal"
                    data-toggle="modal"
                    data-quarentena="true"
                    data-token="<%= token %>"
                    href=""
                    >add_business</a
                  >
                  <a
                    class="material-icons md-24 md-dark"
                    data-id="<%= paciente._id %>"
                    data-target="#excluirPacienteModal"
                    data-toggle="modal"
                    data-token="<%= token %>"
                    href=""
                    >delete</a
                  >
                </td>
              </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <%- include('partials/footer.ejs'); %>
    
  </body>
</html>
