<%- include('partials/header.ejs'); %>

<!-- DataTales Example -->
<div class="card shadow mb-8">
  <div class="card-header py-3 bg-white">
    <h5 class="m-0 font-weight-bold text-dark">Pacientes em Quarentena</h5>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table
        class="table table-bordered"
        id="dataTable"
        width="100%"
        cellspacing="0"
      >
        <thead>
          <tr>
            <th>Nome</th>
            <th>Inicio</th>
            <th>Término</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <% pacientes.forEach(function(paciente) { %>
          <tr>
            <td><%= paciente.nome%></td>
            <td><%= paciente.quarentena_inicio%></td>
            <td><%= paciente.quarentena_fim %></td>

            <td>
              <a
                data-nome="<%= paciente.nome %>"
                data-endereco="<%= paciente.endereco %>"
                data-cpf="<%= paciente.cpf %>"
                data-nascimento="<%= paciente.nascimento %>"
                data-fone="<%= paciente.telefone %>"
                class="material-icons md-24 md-dark"
                href="#"
                data-toggle="modal"
                href=""
                data-target="#dadosPacienteModal"
                >list_alt</a
              >

              <a
                class="material-icons md-24 md-dark"
                href="/quarentena/?quarentena=false&id=<%=paciente._id %>&token=<%=token %>"
                >person_remove</a
              >
            </td>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%- include("partials/footer.ejs");%>
