<%- include('partials/header.ejs'); %>

<div class="card shadow mb-8">
  <div class="card-header py-3 bg-white">
    <h5 class="m-0 font-weight-bold text-dark">Usuários Cadastrados</h5>
    <div class="navbar-right">
      <button
        type="button"
        class="btn btn-dark float-right"
        data-id="<%= users._id%>"
        data-toggle="modal"
        data-target="#inserirUsuarioModal"
      >
        Cadastrar Usuário
      </button>
    </div>
  </div>

  <div class="card-body">
    <div class="table-responsive">
      <table
        class="table table-bordered"
        id="dataTable"
        width="100%"
        cellspacing="0"
      >
        <thead>
          <tr>
            <th>Nome</th>
            <th>Usuário</th>
            <th>Privilégio</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <% users.forEach(function(usuario) { %>
          <tr>
            <td><%= usuario.nome %></td>
            <td><%= usuario.usuario %></td>
            <td><%= usuario.privilegio %></td>
            <td>
              
              <a
                class="material-icons md-24 md-dark"
                data-toggle="modal"
                data-id="<%= usuario._id%>"
                data-nome="<%= usuario.nome%>"
                data-privilegio="<%= usuario.privilegio%>"
                data-target="#EditUsuarioModal"
                href=""
                >edit</a
              >
              <a                
                class="material-icons md-24 md-dark"
                href="/usuarios/<%=usuario._id %>"
                >delete</a
              >
            </td>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
  </div>
</div>

     
      <%- include("partials/footer.ejs");%> 

  </body>
</html>
